GROQ_API_KEY= XXXX__XXXX
PINECONE_API_KEY= XXXX__XXXX

PIXEL= XXXX__XXXX

NEO4J_URI= XXXX__XXXX
NEO4J_USERNAME= XXXX__XXXX
NEO4J_PASSWORD= XXXX__XXXX
NEO4J_DATABASE=neo4j
AURA_INSTANCEID=b41f27a4
AURA_INSTANCENAME= XXXX__XXXX
